		<div id ='footbar'>
			<div class = 'footbarFlexees'id = 'copyright'>
				<h4>&copy;2018 Summit Health and Body Works</h4>
			</div>
			<div class = 'footbarFlexees'id =' adressAndLinks'>
				<div id = 'address'>
					<h4>123 Main Street </h4>
					<h4>Anytown, NJ 12345</h4>
				</div>
				<div id ='externalLinksBar'>
					<i class="fab fa-facebook-square"></i>
					<i class="fab fa-twitter-square"></i>
					<i class="fab fa-instagram"></i>
				</div>
			</div>
			<div class = 'footbarFlexees'id = 'contact'>
				<h4>	
					<i class="fas fa-phone"></i>555-555-5555
				</h4>
				<h4>
					<i class="far fa-envelope"></i>
					fake.email@fakeemail.fake
				</h4>
			</div>
		</div>
		<script type="text/javascript" src="js/scripts.js"></script>
	</body>
</html>