		<div id ='footbar'>
			<div class = 'footbarFlexees'id = 'copyright'>
				<h4>&copy;2018 Summit Health and Body Works</h4>
			</div>
			<div class = 'footbarFlexees'id =' adressAndLinks'>
				<div id = 'address'>
					<h4>447 Springfield Ave </h4>
					<h4>Summit, NJ 07901</h4>
				</div>
				<div id ='externalLinksBar'>
					<a target = '_blank' href="https://www.facebook.com/Summit-Health-Bodyworks-182876901736372/"><i class="fab fa-facebook-square"></i></a>
					<a href="https://www.yelp.com/biz/summit-health-and-bodyworks-summit" target='_blank'><i class="fab fa-yelp"></i></a>
					<a target = '_blank' href="https://www.instagram.com/summithbw/?hl=en"><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class = 'footbarFlexees'id = 'contact'>
				<h4>	
					<i class="fas fa-phone"></i>(908) 219-4435
				</h4>
				<h4>
					<i class="far fa-envelope"></i>
					corneilius.wilson97@gmail.com
				</h4>
				<h4>
					<i class="far fa-calendar-alt"></i>
					Book Now!
				</h4>
			</div>
		</div>
		<script type="text/javascript" src="js/scripts.js"></script>
	</body>
</html>