<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS & JS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<title></title>
	</head>
	<body>
		<ul id ='navbar'>
			<li class='navbarLink'><a>Logo</a></li>
			<li class = 'navbarPipe'></li>
			<li class='navbarLink'><a>Training</a></li>
			<li class = 'navbarPipe'></li>
			<li class='navbarLink'><a>Staff</a></li>
			<li class = 'navbarPipe'></li>
			<li class='navbarLink'><a>Other Services</a></li>
		</ul>
