<%include partials/header.ejs%>
<div class="spacer"></div>
<div id="missonStatement">We at the Summit Health and Body Works believe deeply in the concept of health being not defined by the way you look, but how you feel. Our services focus on helping clients attain improved range of motion, flexibility and balance in strength through exercises that help prevent injuries. Summit Health and Body Works is comprised of a team of fitness professionals that have an in-depth knowledge of the body and its makeup to help individuals become healthier as a whole. 
</div>
<%include partials/footer.ejs%>