<%include partials/header.ejs%>
<div class="spacer"></div>
<div id="missonStatement">
	<h1 class="center">About Us</h1>
	<h2 class = 'center'>Mission Statement</h2>
	<p>
		We at the Summit Health and Body Works believe deeply in the concept of health being not defined by the way you look, but how you feel. Our services focus on helping clients attain improved range of motion, flexibility and balance in strength through exercises that help prevent injuries. Summit Health and Body Works is comprised of a team of fitness professionals that have an in-depth knowledge of the body and its makeup to help individuals become healthier as a whole. 
	</p>
	<h2 class=center>Staff</h2>
	<div class="staffWell">
		<h3>Madelynn</h3>
		<p>Madelynn Clifford is a personal trainer certified by the National Strength and Conditioning Association.</p>
		<p>Madelynn brings to Summit Health and Body Work over 15 years of fitness experience. She runs FIT (Fusion Interval Training) program. She enjoys using the latest techniques to design exercise programs that are safe, challenging and ever changing, and adjust them for a wide range of ages and experience levels. As a trainer, Madelynn provides private and semi-private training as well as small group training classes. She has a passion for helping people of all ages and fitness levels.</p>
		<p>As a trainer, mother, wife, daughter and friend, Madelynn believes deeply in the benefits that come from finding time for exercise and incorporating healthy habits into even the busiest lifestyle. She is personally familiar with the challenges we all face balancing work and family, and the toll this can take on our health. She is committed to helping her clients find more energy and develop increased strength in order to live fully every day.</p>
	</div>
</div>
<%include partials/footer.ejs%>