<%include partials/header.ejs%>
<div class = 'spacer'>
</div>
<div class="content">	
	<h1 class = 'center'>Group Training</h1>
	<div class="serviceWell">
		<h3 class="center">Fusion Interval Training</h3>
		<p class='wellText'>Fusion Interval Training (FIT) is a unique small group training class located at SHBW.</p>
		<p>Walk into a FIT session and prepare to feel exhilarated and energized. It’s a place where people come together and feel a great sense of camaraderie. Have a lot of fun while improving your overall body strength, core strength, and self-confidence. The 50 minute FIT sessions combine strength, flexibility, and endurance training in a dynamic, motivating setting. It features a series of aerobic circuits using TRX suspension trainers, ViPR’s, kettlebells, free weights and medicine balls that will keep you constantly challenged, in addition to improving overall strength, flexibility, posture, confidence and discipline.</p>
		<p>Each session is led by a certified personal trainer, taking you through circuits ensuring you receive personalized, expert attention. As they get to know your strengths and limitations, they are able to deliver even more focused and personalized workouts.</p>
	</div>
</div>
<%include partials/footer.ejs%>