<%include partials/header.ejs%>
<div id = 'splashJumbo'>
	<h1 class = 'jumboTitle'>Summit Health and Body Works</h1>
</div>
<div id= 'cardFlex'>
	<div class = 'serviceCard' id = 'trainerService'>
		<h2>Training</h2>
		<p>Our world-class training staff offer personalized, tailored, structured training programs based on your individual fitness goals and needs.  We believe fitness is important but should not feel like a chore, so we offer fun, unique workouts to keep you on track. </p>
	</div>
	<div class = 'serviceCard' id= 'groupService'>
		<h2>Group Exercise</h2>
		<p>Interested in our fitness philosophy but intimidated by the idea of a personal trainer?  Looking for a fun team building activity to get your sedentary workers out of the office? Try our group exercises! We can accommodate groups up to 10.</p>
	</div>
	<div class = 'serviceCard' id='massage'>
		<h2>Massage</h2>
		<p>We offer a full suite of massage services, along with a number of different styles.  Weather working out knots built up in our rigorous training regimen or just decompressing from a long week at work, our licensed massage therapists will do all they can to help you de-stress and relax.</p>
	</div>
</div>
<%include partials/footer.ejs%>
		