body{
	background-color: maroon;
	color:aliceblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size:2em;
}


.center {
	text-align: center;
}

.serviceCard {
	height:500px;
	width:33%;
}

.serviceCard a {
	color:aliceblue;
	text-decoration: none;
}


@media screen and (max-width: 992px) {
	.serviceCard {
		height: 25vh;
		width:100%;
		flex-grow: 1;
	}

	.serviceCard h2 {
		text-align: center
	}
}


.spacer {
	height: 10vh;
}

.navbarLink {
	display:inline-block;
}

.navbarLink a {
	color:white;
	cursor:pointer;
}

.wellImg {
	margin: 2px;
	height: 20%;
	width: 25%;
	border-radius: 5px;
}

.wellText {
	padding: 10px;
}

.serviceWell {
	text-shadow:none;
	width: 60%;
	margin:0 auto;
	background:hsl(0,75%,25%);
	border-radius: 5px;
	box-shadow: 2px 2px black;
}

.pullRight {
	float:right;
}

.pullLeft {
	float: left;
}

.jumboTitle {
	text-align: center;
}

.jumboSubHead {
	text-align: center;
	width:50%;
	margin:0 auto;
}

.splashJumbo {
	display:flex;
	align-items: center;
	justify-content:center;
	width:100%;
	height: 100%;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slick-initialized .slick-slide {
	display:flex;
	align-items: center;
}

.splashImg {
	display:flex;
	align-items: center;
	justify-content:center;		
	height: 80vh;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#headSpace {
	height:10vh;
}

#missonStatement {
	width: 66vw;
	margin:0 auto;
}


#splashOne {
	background-image: url(../assets/images/jumbo.jpg);
}

#splashTwo {
	background-image: url(../assets/images/splashTwo.jpg);
}

#splashThree {
	background-image: url(../assets/images/splashThree.jpg);
}

#cardFlex {
	margin-top:5px;
	width:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
	margin-bottom:5px;
}

#trainerService {
	background-image: url(../assets/images/trainingPic.jpg);
	background-size: cover;
}

#groupService {
	background-image: url(../assets/images/groupPic.jpg);
	background-size: cover;
}

#massage {
	background-image: url(https://images.pexels.com/photos/3188/love-romantic-bath-candlelight.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;

}

#navbar {
	position: fixed;
	display:flex;
	justify-content:space-around;
	align-items:center;
	height:10vh;
	background-color: black;
	width: 100%;

}

#navbarLogo {
	height: 10vh;
	width: auto;
}


#footbar {
	display:flex;
	justify-content:space-around;
	background-color:black;
	width:100%;
}

#externalLinksBar {
	display:flex;
	justify-content: space-around;
}